:root {
  --main-color: #2596be;
  --secondary-color: #145369;
  --black: #13131a;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* transition: .2s linear; */
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: inherit;
  line-height: 30px;
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.header {
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  padding: .5rem;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.header .navbar a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.header .logo {
  text-decoration: none;
  margin: 10px;
}

.dropdown {
  font-size: 50px;
  position: relative;
  display: none; /* inline-block  */
}

.dropbtn {
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.tyler {
  color: black;
  font-family: oswald;
  font-size: 1.7rem;
}

.page {
  background: black;
  height: 700px;
}

#contactButton {
  border: 3px solid black;
  border-radius: 10%;
  background-color: #adacac;
  padding: 7px;
  font-size: 1.7rem;
  cursor: pointer;
}

.about {
  margin-top: 92px; /* header height */
	padding: 50px;
  background-color: #145369;
  color: white;
  /* background: url(/images/City_Landscape_Background) no-repeat; */
  border-bottom: 1px solid black;
}

.about img {}
/*
.about img:hover {
  transform: scale(1.05);
} */

.about h1 {
  font-size: 4.7rem;
}

.about p {
  font-size: 27px;
}

.blackBar {
  height: 10px;
  background-color: black;
}

.mainBlackBar {
  height: 70px;
  background-color: black;
}

.contact {
  background: white;
}

.contact form {
  align-items: center;
}

.contact form h3 {
  position: relative;
  /* text-align: center; */
  font-size: 70px;
}

.contact form {
  text-align: center;
  font-size: 1.6rem; /* This is for the icons */
  padding: 1rem;
}

.contact form .inputBox input {
  font-size: 1.6rem;
  border: 1px solid black;
  margin: 3px;
}

.contact form .inputBox textarea {
  font-size: 1.6rem;
  border: 1px solid black;
  margin: 3px;
  width: 298px;
  margin-left: 31px;
  resize: none;
}

.contact form .submit-btn {
  outline: 1px solid black;
  padding: 7px;
  font-style: bold;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: darkgray;
}

.portfolio {
  height: 1500px;
  background-color: #145369;
}

.portfolio h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.portfolio img {
  display: block;
  margin-left: 7rem;
  height: 400px;
}

#right-area div {
  position: relative;
  font-size: 70px;
}

footer {
  text-align: center;
  font: white;
  background-color: black;
  margin-top: 70px;
}

.footer {
    font: white;
}

/* Blog Posts */

.blog-posts {
  margin-top: 150px;
}

.blog-posts .blog-post {
  margin-bottom: 30px;
}

.blog-posts .blog-thumb img {
  width: 100%;
  overflow: hidden;
}

.blog-posts .down-content {
  padding: 40px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.blog-posts .down-content span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 900;
  color: #f48840;
}

.blog-posts .down-content h4 {
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 900;
  color: #20232e;
  margin: 10px 0px 12px 0px;
}

.blog-posts .down-content ul.post-info li {
  display: inline-block;
  margin-right: 8px;
}

.blog-posts .down-content ul.post-info li:after {
  content: "|";
  color: #aaa;
  margin-left: 8px;
}

.blog-posts .down-content h4 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.grid-system .down-content ul.post-info li {
  margin-right: 3px;
}

.grid-system .down-content ul.post-info li:after {
  margin-left: 5px;
}

.blog-posts .down-content ul.post-info li:last-child::after {
  display: none;
}

.blog-posts .down-content ul.post-info li a {
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
  transition: all 0.3s;
}

.blog-posts .down-content ul.post-info li a:hover {
  color: #f48840;
}

.blog-posts .down-content p {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.blog-posts .down-content ul.post-share {
  text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
  display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
  color: #f48840;
  margin-right: 5px;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
  color: #aaa;
}

/* Sidebar */

.sidebar {
  margin-left: 30px;
  background-color: #2596be;
  color: white;
  text-align: center;
  outline: 1px solid black;
}

.sidebar h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.sideBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 7px;
}

.sideBtn a {
  text-decoration: none;
  color: black;
}

.metaverseArticle {
    margin-top: 150px;
}

.metaverseArticle .title {
  margin-bottom: 20px;
}

.metaverseArticle h1 {
    text-align: center;
}

.metaverseArticle h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.metaverseArticle .lead {
    margin-top: 40px;
    text-align: center;
    font-family: bold;
    color: black;
    font-size: 27px;
    margin-bottom: 40px;
    font-style: oblique;
}

.metaverseArticle img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.metaverseArticle p {
    margin-bottom: 2rem;
    font-size: 20px;
}

.start {
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 480px) {

  .header {
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    padding: .5rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid black;
  }

  .tyler {
    font-size: 17px;
  }

  .navbar {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-content {
    right: -8px; /* This makes the dropdown work */
    font-size: 30px;
  }

  #contactButton {
    border: inherit;
    background-color: inherit;
    font-size: inherit;
    border: inherit;
    padding: 1rem;
  }

  .sidebar {
    margin-bottom: 7rem;
    right: center;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .navbar {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-content {
    right: -8px; /* This makes the dropdown work */
    font-size: 30px;
  }

  #contactButton {
    border: inherit;
    background-color: inherit;
    font-size: inherit;
    border: inherit;
    padding: 1rem;
  }

  .sidebar {
    margin-bottom: 7rem;
    left: center;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}
